.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #5D6975;
    text-decoration: underline;
}


/*  */

body {
    position: relative;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    font-size: 12px;
    font-family: Arial;
}

header {
    padding: 10px 0;
    margin-bottom: 30px;
}

#logo {
    text-align: center;
    margin-bottom: 10px;
}

#logo img {
    width: 320px;
}

input {
    margin: 1px;
    padding: 3px;
    border: none;
    text-align: center;
    border-bottom: 1px solid #000;
}

.folio {
    width: 100px;
}

.codigo {
    width: 100px;
}

.fecha {
    width: 80px;
}

.periodo {
    width: 100px;
}

.crasi {
    width: 280px;
}

.importe {
    width: 358px;
}

.importeletra {
    margin: 0px auto;
    display: block;
    width: 96%;
}

.beneficiario {
    width: 75%;
}

.rfc {
    width: 30%;
}

.numbene {
    width: 30%;
}

.nombre {
    width: 31%;
}

.tipo {
    width: 79%;
}

.concepto {
    margin: 10px;
    width: 86%;
    height: 47px;
    text-align: justify;
    border: 1px solid #000;
}

.cuenta {
    width: 72%;
}

.dependencia {
    width: 83%;
}

.unidad {
    width: 88%;
}


/* TABLA */

.border {
    height: 80px;
    border: 2px solid #000;
}

.border1 {
    height: 205px;
    border: 2px solid #000;
}

.border2 {
    height: 89px;
    border: 2px solid #000;
}

.firma1 {
    width: 40%;
    text-align: center;
    float: left;
}

.firma1 input {
    width: 100%;
}

.firma2 {
    width: 40%;
    text-align: center;
    float: right;
}

.firma2 input {
    width: 100%;
}

.minimi {
    text-align: center;
    font-size: 9px;
}

#project {
    float: left;
}

#project span {
    color: #5D6975;
    text-align: right;
    width: 52px;
    margin-right: 10px;
    display: inline-block;
    font-size: 0.8em;
}

#company {
    float: right;
    text-align: right;
}

#project div,
#company div {
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    color: #000;
}

table tr:nth-child(2n-1) td {
    background: white;
}

table th,
table td {
    text-align: center;
}

table th {
    padding: 5px 20px;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;
    font-weight: normal;
    background: gray;
}

table .service,
table .desc {
    text-align: left;
}

table td {
    padding: 5px;
    text-align: right;
}

table td.service,
table td.desc {
    vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
    font-size: 1.2em;
}

table td.grand {
    border-top: 1px solid #5D6975;
    ;
}

#notices .notice {
    color: #5D6975;
    font-size: 1.2em;
}

footer {
    color: #5D6975;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    padding: 8px 0;
    text-align: center;
}